@model pt_2b.Models.THSUser

@{
    ViewBag.Title = "360. Удаление актора.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    pt_2b.Models.DataBase db = new pt_2b.Models.DataBase();
    int orgId = Int32.Parse(Request.QueryString["orgId"]);
    pt_2b.Models.Organisation org = db.Organisations.Where(x => x.id == orgId).Single();
    pt_2b.Models.THSForm ths = db.THSForms.Where(x => x.id == Model.thsId).Single();
    pt_2b.Models.AspNetUser user = db.AspNetUsers.Where(x => x.Id == Model.userId).Single();
}

<h2>@ths.name</h2>

<h3></h3>
<div>
    <h4>@(user.Surname + " " + user.Name + " : " + user.Email)</h4>
    <h4>Удалить актора?</h4>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn btn-default" type="submit">Да, удалить</button> |
            <a href="/THSForms/Details/@Request.QueryString["thsId"]?orgId=@Request.QueryString["orgId"]">Нет, вернуться к карточке 360</a>
        </div>
    }
</div>
