@model IEnumerable<pt_2b.Models.Organisation>

@{
    ViewBag.Title = "Организации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Организации</h2>

<p>
    @Html.ActionLink("Добавить новую", "Create")
</p>
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Информация", "Details", new { id = item.id }) |
            @Html.ActionLink("Редактировать", "Edit", new { id = item.id })
        </td>
    </tr>
}

</table>
