@model pt_2b.Models.AspNetUser

@{
    ViewBag.Title = "Удаление пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
    pt_2b.Models.DataBase db = new pt_2b.Models.DataBase();
    int orgId = Int32.Parse(Request.QueryString["orgId"]);
}

<h2>Удаление пользователя</h2>

<div>
    <h4>@(Model.Surname + " " + Model.Name + " : " + Model.Email)</h4>
    <h4>Удалить пользователя?</h4>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button class="btn btn-default" type="submit">Да, удалить</button> |
            @if (Request.QueryString["orgId"] != null)
            {
                <a href="/organisation/organisationusers?orgId=@Request.QueryString["orgId"]">Нет, вернуться к списку</a>
            }
            else
            {
                @Html.ActionLink("Back to List", "Index")
            }
        </div>
    }
</div>
