
@{
    ViewBag.Title = "Интерфейс администратора";
}

<h2>Интерфейс администратора</h2>

<a href="https://docs.google.com/document/d/1j5evS1_yXzhxB8CnqcS7ePeF0vhdvQ3RPEua0zlEu2E/edit?usp=sharing" target="_blank">Гайд по работе с 360</a>

<hr />
<a href="/organisation">Организации</a>

@Html.Partial("_TestList")
@Html.Partial("_TestLoad")
